<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chensiwen.edugame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".EduApplication"
        android:allowBackup="true"
        android:icon="@mipmap/doudoulong144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainListActivity"
            android:label="@string/title_activity_main_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumbersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- umeng feedback -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="574877e767e58ec15e001343" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="HomeMade" />

        <activity
            android:name=".EntranceListActivity"
            android:label="@string/title_activity_entrance_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimatedVectorDrawableActivity"
            android:label="@string/title_activity_animated_vector_drawable"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RxJavaExampleActivity"
            android:label="@string/title_activity_rxjava_example"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.HorizontalRecyclerViewActivity"
            android:label="@string/title_activity_horizontal_recycler_view">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chain.ChainActivity"
            android:label="@string/title_activity_rxjava_example">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lottie.LottieActivity"
            android:label="@string/title_activity_lottie">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transition.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_transition_name">
            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".crossfade.CrossFadeActivity"
            android:label="@string/title_activity_cross_fade">

            <intent-filter>
                <action android:name="com.chensiwen.edugame.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>